* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #000;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
}

a {
	cursor: pointer;
}

img {
	max-width: 100%;
	max-height: 100%;
}

